<!-- BEGIN SIDEBAR -->
<div id="sidebar">
    <div id="sidebar-color"></div>        <!-- SIDEBAR COLOR LAYER -->
    <div id="sidebar-border"></div>        <!-- SIDEBAR BORDER LAYER -->
    <div id="sidebar-light"></div>        <!-- SIDEBAR RADIAL GRADIENT LIGHT LAYER -->
    <div id="sidebar-texture"></div>    <!-- SIDEBAR TEXTURE LAYER -->

    <!-- SIDEBAR CONTENT LAYER -->
    <div id="sidebar-content">

        <!-- LOGO -->
        <div id="logo">
            <a href="index.html">
                <img src="<?php echo base_url('Public/Blog/images/logo.png');?>" alt=""/>
            </a>
        </div>

        <!-- MENU -->
        <ul id="menu">
            <li class="current"><a href="index.html">HOME</a></li>
            <li><a href="blog-1.html">BLOG</a>
                <ul>
                    <li><a href="blog-1.html">BLOG STYLE #1</a></li>
                    <li><a href="blog-2.html">BLOG STYLE #2</a></li>
                </ul>
            </li>
            <li><a href="portfolio-3c.html">PORTFOLIO</a>
                <ul>
                    <li><a href="portfolio-3c.html">PORTFOLIO &#8211; 3 COLUMNS</a></li>
                    <li><a href="portfolio-2c.html">PORTFOLIO &#8211; 2 COLUMNS</a></li>
                </ul>
            </li>
            <li><a href="gallery.html">GALLERY</a></li>
            <li><a href="#">STYLINGS</a>
                <ul>
                    <li><a href="stylings-texts.html">TEXTS</a></li>
                    <li><a href="stylings-table_columns.html">TABLE &#038; COLUMNS</a></li>
                    <li><a href="stylings-tabs_toggles.html">TABS, TOGGLES &#038; CAROUSEL</a></li>
                    <li><a href="stylings-images_videos.html">IMAGES &#038; VIDEOS</a></li>
                    <li><a href="stylings-contact_buttons.html">CONTACT FORM &#038; BUTTONS</a></li>
                </ul>
            </li>
        </ul>

    </div><!-- #sidebar-content ends -->

    <!-- SOCIAL ICONS ON SIDEBAR'S BOTTOM PART -->
    <ul id="sidebar-bottom">
        <li><a href="#"><img src="<?php echo base_url('Public/Blog/images/sidebar_icons/facebook.png');?>" alt=""/></a>
        </li>
        <li><a href="#"><img src="<?php echo base_url('Public/Blog/images/sidebar_icons/twitter.png');?>" alt=""/></a>
        </li>
        <li><a href="#"><img src="<?php echo base_url('Public/Blog/images/sidebar_icons/rss.png');?>" alt=""/></a></li>
    </ul>

    <!-- COPYRIGHT TEXT -->
    <p id="copyright">EMPIRE XHTML. More Templates <a href="http://www.cssmoban.com/" target="_blank"
                                                      title="模板之家">模板之家</a> - Collect from <a
            href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>

</div>
<!-- END SIDEBAR -->