<!-- BEGIN SIDEBAR -->
<div id="sidebar">
    <!-- SIDEBAR COLOR LAYER -->
    <div id="sidebar-color"></div>
    <!-- SIDEBAR BORDER LAYER -->
    <div id="sidebar-border"></div>
    <!-- SIDEBAR RADIAL GRADIENT LIGHT LAYER -->
    <div id="sidebar-light"></div>
    <!-- SIDEBAR TEXTURE LAYER -->
    <div id="sidebar-texture"></div>

    <!-- SIDEBAR CONTENT LAYER -->
    <div id="sidebar-content">
        <!-- LOGO -->
        <div id="logo">
            <a href="index.html">
                <img src="<?php echo base_url($config['logo']);?>" alt=""/>
            </a>
        </div>

        <!-- MENU -->
        <ul id="menu">
            <li class="current">
                <a href="index.html">首页</a>
            </li>
            <?php foreach($menu as $item):?>
            <li>
                <a href="<?php echo site_url('Blog/Blog/index').'/'.$item['category_id'];?>"><?php echo $item['category_name'];?></a>
            </li>
            <?php endforeach;?>
            <li>
                <a href="#">关于</a>
            </li>
        </ul>
    </div>
    <!-- #sidebar-content ends -->

    <!-- SOCIAL ICONS ON SIDEBAR'S BOTTOM PART -->
    <ul id="sidebar-bottom" style="bottom: 60px">
        <li>
            <a href="#">
                <img src="<?php echo base_url('Public/Blog/images/sidebar_icons/facebook.png');?>" alt=""/>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="<?php echo base_url('Public/Blog/images/sidebar_icons/twitter.png');?>" alt=""/>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="<?php echo base_url('Public/Blog/images/sidebar_icons/rss.png');?>" alt=""/>
            </a>
        </li>
    </ul>
    <!-- COPYRIGHT TEXT -->
    <p id="copyright">
        Designed And Developed By ZHIHUAWEI<br>
        Copyright ©  2017
        <a href="http://www.zhihuawei.cn/"><?php echo $config['author'];?></a> .
        All Rigth Reserver.<br>
        <a href="http://www.miitbeian.gov.cn" target="_blank">豫ICP备17011945号-1</a>
    </p>
</div>
<!-- END SIDEBAR -->