<!-- STYLER FOR DEMO -->
<div id="styler">
	<div id="styler-button">
		<a href="#">
			<img src="<?php echo base_url('Public/Blog/images/styler-button.png');?>" alt="styler" />
		</a>
	</div>

	<div class="styler-title">
		<img src="<?php echo base_url('Public/Blog/images/styler-t1.png');?>" alt="" />
	</div>

	<ul id="texture">
		<li><a href="#" id="styler-texture-1">None</a></li>
		<li id="selected"><a href="#" id="styler-texture-2">Leather</a></li>
		<li><a href="#" id="styler-texture-3">Carbon</a></li>
	</ul>

	<div class="styler-title">
		<img src="<?php echo base_url('Public/Blog/images/styler-t2.png');?>" alt="" />
	</div>

	<div id="styler-colorpicker" class="colorpicker"></div>
</div>