<!-- DISPLAY MESSAGE IF JAVA IS TURNED OFF -->
<noscript>
    <div id="notification">Please turn on javascript in your browser for the maximum experience!</div>
</noscript>

<!-- DISPLAY THIS MESSAGE IF USER'S BROWSER IS IE7 OR LOWER -->
<div id="ie_warning">
    <img src="<?php echo base_url('Public/Blog/images/warning.png');?>" alt="IE Warning" /><br />
    <strong>Your browser is out of date!</strong><br />
    <br />This website uses the latest web technologies so it requires an up-to-date, fast browser!
    <br />Try <a href="http://www.mozilla.org/en-US/firefox/new/?from=getfirefox">Firefox</a> or
    <a href="https://www.google.com/chrome">Chrome</a>!
</div>