<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- BEGIN META -->
    <?php $this->load->view('Public/headmeta.html');?>
    <!-- END META -->
    <!-- BEGIN STYLESHEET-->
    <?php $this->load->view('Public/headcss.html');?>
    <!-- END STYLESHEET-->
    <title><?php echo $config['title'].'-'.$config['webname'];?></title>
    <!-- BEGIN JS -->
    <?php $this->load->view('Public/footjs.html');?>
    <!-- END JS -->
</head>
<body>

<!-- DISPLAY MESSAGE IF JAVA IS TURNED OFF -->
<?php $this->load->view('Public/warn.html');?>

<!-- PAGE LOADING -->
<div id="hp_preloader"></div>
<!-- PAGE LOADING END-->

<!-- STYLER FOR CHANGE -->
<?php $this->load->view('Public/style.html');?>
<!-- STYLER FOR CHANGE END-->

<!-- SITE WRAPPER -->
<div id="wrapper">

    <!-- PAGE WITH CONTENTS -->
    <div id="page">
        <!-- CONTENT BEGIN -->
        <div id="content">



        </div>
        <!-- #CONTENT END -->
    </div>
    <!-- #PAGE END -->

    <!-- SIDEBAR BEGIN-->
    <?php $this->load->view('Public/sidebar.html');?>
    <!-- #SIDEBAR ENDS -->

</div>
<!-- #WRAPPER ENDS -->

<!-- BACKGROUND SLIDER -->
<?php $this->load->view('Public/background.html');?>
<!-- BACKGROUND SLIDER END-->
</body>
</html>