<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- BEGIN META -->
    <?php $this->load->view('Public/headmeta.html');?>
    <!-- END META -->
    <!-- BEGIN STYLESHEET-->
    <?php $this->load->view('Public/headcss.html');?>
    <!-- END STYLESHEET-->
    <title><?php echo $config['title'].'-'.$config['webname'];?></title>
    <!-- BEGIN JS -->
    <?php $this->load->view('Public/footjs.html');?>
    <!-- END JS -->
</head>
<body>

<!-- DISPLAY MESSAGE IF JAVA IS TURNED OFF -->
<?php $this->load->view('Public/warn.html');?>

<!-- STYLER FOR CHANGE -->
<?php $this->load->view('Public/style.html');?>
<!-- STYLER FOR CHANGE END-->

<!-- SITE WRAPPER -->
<div id="wrapper">

    <!-- PAGE WITH CONTENTS -->
    <div id="page">
        <!-- CONTENT BEGIN -->
        <div id="content">

            <h1>Posts from the blog</h1>

            <div class="hr"></div>

            <!-- BLOG POSTS WITH SMALL THUMBS -->
            <ul id="blog-small">
                <li>
                    <div class="blog-small-image">
                        <a href="post.html">
                            <span class="imghover_small_blog"></span>
                            <img src="<?php echo base_url('Public/Blog/images/post1.jpg');?>" alt="" />
                        </a>
                    </div>
                    <div class="blog-small-text">
                        <h1><a href="post.html">Mauris nec velit tortor, quis euismod</a></h1>
                        <p class="blog-info">&nbsp;<img src="<?php echo base_url('Public/Blog/images/icon-time.png');?>" alt="" />
                            &nbsp;March 14, 2012&nbsp;
                            <img src="<?php echo base_url('Public/Blog/images/sep.gif');?>" alt="" />&nbsp;&nbsp;
                            <img src="<?php echo base_url('Public/Blog/images/icon-category.png');?>" alt="" />
                            <a href="#">News</a>, <a href="#">Travel</a>&nbsp;&nbsp;
                            <img src="<?php echo base_url('Public/Blog/images/sep.gif');?>" alt="" />&nbsp;&nbsp;
                            <img src="<?php echo base_url('Public/Blog/images/icon-comment.png');?>" alt="" />&nbsp;0 Comment(s)
                        </p>
                        <p class="blog-small-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel enim sem, in vulputate augue. Praesent vitae velit convallis sapien varius accumsan sit amet eu lacus.  <br /><a href="post.html" class="read_more">Continue reading &rarr;</a></p>
                    </div>
                </li>
                <!-- POST SEPARATOR -->
                <li class="blog-small-sep"></li>

                <li>
                    <div class="blog-small-image">
                        <a href="post.html"><span class="imghover_small_blog"></span><img src="images/post1.jpg" alt="" /></a>
                    </div>
                    <div class="blog-small-text">
                        <h1><a href="post.html">Praesent vitae velit convallis sapien</a></h1>

                        <p class="blog-info">&nbsp;<img src="images/icon-time.png" alt="" />&nbsp;March 14, 2012&nbsp;
                            <img src="images/sep.gif" alt="" />&nbsp;&nbsp;<img src="images/icon-category.png" alt="" /><a href="#">News</a>, <a href="#">Travel</a>&nbsp;&nbsp;<img src="images/sep.gif" alt="" />&nbsp;&nbsp;
                            <img src="images/icon-comment.png" alt="" />&nbsp;0 Comment(s)
                        </p>

                        <p class="blog-small-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel enim sem, in vulputate augue. Praesent vitae velit convallis sapien varius accumsan sit amet eu lacus. <br /><a href="post.html" class="read_more">Continue reading &rarr;</a></p>
                    </div>
                </li>
                <!-- POST SEPARATOR -->
                <li class="blog-small-sep"></li>

            </ul>
            <!-- #blog-small ends -->

            <div class="hr"></div>
            <!-- PORTFOLIO CATEGORIES -->
            <?php echo $pageinfo;?>

        </div>
        <!-- #CONTENT END -->
    </div>
    <!-- #PAGE END -->

    <!-- SIDEBAR BEGIN-->
    <?php $this->load->view('Public/sidebar.html');?>
    <!-- #SIDEBAR ENDS -->

</div>
<!-- #WRAPPER ENDS -->

<!-- BACKGROUND SLIDER -->
<?php $this->load->view('Public/background.html');?>
<!-- BACKGROUND SLIDER END-->
</body>
</html>