<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- BEGIN META -->
    <?php $this->load->view('Public/headmeta.html');?>
    <!-- END META -->
    <!-- BEGIN STYLESHEET-->
    <?php $this->load->view('Public/headcss.html');?>
    <!-- END STYLESHEET-->
    <title><?php echo $config['title'].'-'.$config['webname'];?></title>
    <!-- BEGIN JS -->
    <?php $this->load->view('Public/footjs.html');?>
    <!-- END JS -->
</head>
<body>

<!-- DISPLAY MESSAGE IF JAVA IS TURNED OFF -->
<?php $this->load->view('Public/warn.html');?>

<!-- STYLER FOR CHANGE -->
<?php $this->load->view('Public/style.html');?>
<!-- STYLER FOR CHANGE END-->

<!-- SITE WRAPPER -->
<div id="wrapper">

    <!-- PAGE WITH CONTENTS -->
    <div id="page">
        <!-- CONTENT BEGIN -->
        <div id="content">

            <h1>Posts from the blog</h1>

            <div class="hr"></div>

            <!-- BLOG POSTS WITH SMALL THUMBS -->
            <ul id="blog-small">
                <li>
                    <div class="blog-small-image">
                        <a href="post.html"><span class="imghover_small_blog"></span><img src="images/post1.jpg" alt="" /></a>
                    </div>
                    <div class="blog-small-text">
                        <h1><a href="post.html">Mauris nec velit tortor, quis euismod</a></h1>

                        <p class="blog-info">&nbsp;<img src="images/icon-time.png" alt="" />&nbsp;March 14, 2012&nbsp;
                            <img src="images/sep.gif" alt="" />&nbsp;&nbsp;<img src="images/icon-category.png" alt="" /><a href="#">News</a>, <a href="#">Travel</a>&nbsp;&nbsp;<img src="images/sep.gif" alt="" />&nbsp;&nbsp;
                            <img src="images/icon-comment.png" alt="" />&nbsp;0 Comment(s)
                        </p>

                        <p class="blog-small-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel enim sem, in vulputate augue. Praesent vitae velit convallis sapien varius accumsan sit amet eu lacus.  <br /><a href="post.html" class="read_more">Continue reading &rarr;</a></p>
                    </div>
                </li>
                <!-- POST SEPARATOR -->
                <li class="blog-small-sep"></li>


                <li>
                    <div class="blog-small-image">
                        <a href="post.html"><span class="imghover_small_blog"></span><img src="images/post1.jpg" alt="" /></a>
                    </div>
                    <div class="blog-small-text">
                        <h1><a href="post.html">Praesent vitae velit convallis sapien</a></h1>

                        <p class="blog-info">&nbsp;<img src="images/icon-time.png" alt="" />&nbsp;March 14, 2012&nbsp;
                            <img src="images/sep.gif" alt="" />&nbsp;&nbsp;<img src="images/icon-category.png" alt="" /><a href="#">News</a>, <a href="#">Travel</a>&nbsp;&nbsp;<img src="images/sep.gif" alt="" />&nbsp;&nbsp;
                            <img src="images/icon-comment.png" alt="" />&nbsp;0 Comment(s)
                        </p>

                        <p class="blog-small-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel enim sem, in vulputate augue. Praesent vitae velit convallis sapien varius accumsan sit amet eu lacus. <br /><a href="post.html" class="read_more">Continue reading &rarr;</a></p>
                    </div>
                </li>
                <!-- POST SEPARATOR -->
                <li class="blog-small-sep"></li>


                <li>
                    <div class="blog-small-image">
                        <a href="post.html"><span class="imghover_small_blog"></span><img src="images/post1.jpg" alt="" /></a>
                    </div>
                    <div class="blog-small-text">
                        <h1><a href="post.html">Lorem ipsum dolor sit amet</a></h1>

                        <p class="blog-info">&nbsp;<img src="images/icon-time.png" alt="" />&nbsp;March 14, 2012&nbsp;
                            <img src="images/sep.gif" alt="" />&nbsp;&nbsp;<img src="images/icon-category.png" alt="" /><a href="#">News</a>, <a href="#">Travel</a>&nbsp;&nbsp;<img src="images/sep.gif" alt="" />&nbsp;&nbsp;
                            <img src="images/icon-comment.png" alt="" />&nbsp;0 Comment(s)
                        </p>

                        <p class="blog-small-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel enim sem, in vulputate augue. Praesent vitae velit convallis sapien varius accumsan sit amet eu lacus.  <br /><a href="post.html" class="read_more">Continue reading &rarr;</a></p>
                    </div>
                </li>
                <!-- POST SEPARATOR -->
                <li class="blog-small-sep"></li>


                <li>
                    <div class="blog-small-image">
                        <a href="post.html"><span class="imghover_small_blog"></span><img src="images/post1.jpg" alt="" /></a>
                    </div>
                    <div class="blog-small-text">
                        <h1><a href="post.html">Vestibulum ante ipsum primis</a></h1>

                        <p class="blog-info">&nbsp;<img src="images/icon-time.png" alt="" />&nbsp;March 14, 2012&nbsp;
                            <img src="images/sep.gif" alt="" />&nbsp;&nbsp;<img src="images/icon-category.png" alt="" /><a href="#">News</a>, <a href="#">Travel</a>&nbsp;&nbsp;<img src="images/sep.gif" alt="" />&nbsp;&nbsp;
                            <img src="images/icon-comment.png" alt="" />&nbsp;0 Comment(s)
                        </p>

                        <p class="blog-small-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel enim sem, in vulputate augue. Praesent vitae velit convallis sapien varius accumsan sit amet eu lacus.  <br /><a href="post.html" class="read_more">Continue reading &rarr;</a></p>
                    </div>
                </li>
            </ul><!-- #blog-small ends -->

            <div class="hr"></div>
            <!-- PORTFOLIO CATEGORIES -->
            <ul class="pf_categories">
                <li class="active">
                    <a href="#" class="all"><<</a>
                </li>
                <li><a href="#" class="flash">1</a></li>
                <li><a href="#" class="photos">2</a></li>
                <li><a href="#" class="video">3</a></li>
                <li><a href="#" class="website">>></a></li>
            </ul>

            <!-- FOOTER -->
            <div id="footer_widget_area">
                <!-- FIRST FOOTER AREA / POPULAR POSTS -->
                <div id="first">
                    <h3>Popular Posts</h3>

                    <ul class="posts_list">
                        <li>
                            <p class="posts_list_pic">
                                <a href="post.html"><img src="images/post-tn1.jpg" alt="" /></a>
                            </p>

                            <p class="posts_list_excerpt">
                                <a href="post.html"><strong>Praesent vitae velit convallis</strong></a>
                                <br />February 22, 2012
                            </p>
                        </li>

                        <li>
                            <p class="posts_list_pic">
                                <a href="post.html"><img src="images/post-tn1.jpg" alt="" /></a>
                            </p>

                            <p class="posts_list_excerpt">
                                <a href="post.html"><strong>Lorem ipsum dolor sit amet</strong></a>
                                <br />January 28, 2012
                            </p>
                        </li>

                        <li>
                            <p class="posts_list_pic">
                                <a href="post.html"><img src="images/post-tn1.jpg" alt="" /></a>
                            </p>

                            <p class="posts_list_excerpt">
                                <a href="post.html"><strong>Mauris nec velit tortor quis </strong></a>
                                <br />March 14, 2012
                            </p>
                        </li>
                    </ul>
                </div>

                <!-- SECOND FOOTER AREA / ARCHIVES -->
                <div id="second">
                    <h3>Archives</h3>

                    <ul class="archives">
                        <li><a href="#" title="March 2012">March 2012</a></li>
                        <li><a href="#" title="February 2012">February 2012</a></li>
                        <li><a href="#" title="January 2012">January 2012</a></li>
                        <li><a href="#" title="December 2011">December 2011</a></li>
                    </ul>
                </div>

                <!-- THIRD FOOTER AREA / CONTACT FORM -->
                <div id="third">
                    <h3>Contact Form</h3>

                    <form action="" id="contact_form" method="post">
                        <ul class="contact_form">
                            <li><input type="text" id="ub_w_cf1" name="ub_w_cf_name" /><label>Name</label></li>
                            <li><input type="text" id="ub_w_cf2" name="ub_w_cf_email" /><label>Email</label></li>
                            <li><textarea id="ub_w_cf3" rows="" cols="" name="ub_w_cf_msg" class="required"></textarea></li>
                            <li><input type="text" id="ub_w_cf4" name="ub_w_cf_captcha" class="required" maxlength="4" /><img src="captcha.php" id="captcha" alt="" /><label>Captcha</label></li>
                            <li id="ub_w_cf_sbtn"><input class="send_button" type="submit" value="OK" /></li>
                        </ul>
                    </form>
                </div>
            </div>

        </div>
        <!-- #CONTENT END -->
    </div>
    <!-- #PAGE END -->

    <!-- SIDEBAR BEGIN-->
    <?php $this->load->view('Public/sidebar.html');?>
    <!-- #SIDEBAR ENDS -->

</div>
<!-- #WRAPPER ENDS -->

<!-- BACKGROUND SLIDER -->
<?php $this->load->view('Public/background.html');?>
<!-- BACKGROUND SLIDER END-->
</body>
</html>