<!DOCTYPE html>
<html lang="en">

<head>
    <!-- BEGIN META -->
    <?php $this->load->view('Public/headmeta.html');?>
    <!-- END META -->

    <!-- BEGIN STYLESHEET-->
    <?php $this->load->view('Public/headcss.html');?>
    <!-- END STYLESHEET-->
    <title>
        <?php echo $current['title']."-".$setting['title'];?>
    </title>

</head>

<body>
<!-- BEGIN SECTION -->
<section id="container">
    <!-- BEGIN HEADER -->
    <?php $this->load->view('Public/header.html');?>
    <!-- END HEADER -->
    <!-- BEGIN SIDEBAR -->
    <?php $this->load->view('Public/sidebar.html');?>
    <!-- END SIDEBAR -->
    <!-- BEGIN MAIN CONTENT -->
    <section id="main-content">
        <!-- BEGIN WRAPPER  -->
        <section class="wrapper">
            <!-- TOPMENU ROW  -->
            <?php $this->load->view('Public/topmenu.html');?>
            <!-- TOPMENU ROW  -->

            <!-- BEGIN ROW  -->
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <span class="label label-primary"><?php echo $current['title'];?></span>
                            <span class="tools pull-right"></span>
                        </header>
                        <div class="panel-body">
                            <div class="form">
                                <form class="cmxform form-horizontal tasi-form" id="settingForm" method="post" action="<?php echo site_url('Weiadmin/Blogset/config');?>" enctype="multipart/form-data">

                                    <div class="form-group">
                                        <label for="webname" class="control-label col-lg-2">网站名称</label>
                                        <div class="col-lg-3">
                                            <input class="form-control bg-white" id="webname" name="webname" type="text" value="<?php echo $config['webname'];?>">
                                        </div>
                                        <label class="control-label col-lg-4 color-red t-left">网站名称，前台调用：echo $config['webname'];</label>
                                    </div>

                                    <div class="form-group">
                                        <label for="title" class="control-label col-lg-2">网站标题</label>
                                        <div class="col-lg-3">
                                            <input class="form-control bg-white" id="title" name="title" type="text" value="<?php echo $config['title'];?>">
                                        </div>
                                        <label class="control-label col-lg-4 color-red t-left">网站标题，前台调用：echo $config['title'];</label>
                                    </div>

                                    <div class="form-group last">
                                        <label for="logo" class="control-label col-sm-2">博客LOGO</label>
                                        <div class="col-sm-3">
                                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                                <div class="fileupload-new thumbnail">
                                                    <img src="<?php if(!empty($config['logo'])){echo base_url($config['logo']);}else{echo base_url('Public/Wei/img/no_image.png');}?>">
                                                </div>
                                                <div class="fileupload-preview fileupload-exists thumbnail">
                                                </div>
                                                <div>
                                                    <span class="btn btn-white btn-file">
                                                        <span class="fileupload-new">
                                                            <i class="fa fa-paper-clip"></i> 选择LOGO
                                                        </span>
                                                    <span class="fileupload-exists">
                                                        <i class="fa fa-undo"></i> 重置
                                                    </span>
                                                    <input type="file" class="default" name="logo">
                                                    </span>
                                                    <a href="#" class="btn btn-danger fileupload-exists"
                                                       data-dismiss="fileupload">
                                                        <i class="fa fa-trash"></i> 删除
                                                    </a>
                                                </div>
                                                <span style="margin-left: 20px;color: chartreuse">推荐图片大小117px*111px</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="keywords" class="control-label col-lg-2">网站关键词</label>
                                        <div class="col-lg-3">
                                            <input class="form-control" id="keywords" name="keywords" type="text" value="<?php echo $config['keywords'];?>">
                                        </div>
                                        <label class="control-label col-lg-4 color-red t-left">关键词，前台调用：echo $config['keywords'];</label>
                                    </div>

                                    <div class="form-group">
                                        <label for="coryright" class="control-label col-lg-2">底部版权</label>
                                        <div class="col-lg-3">
                                            <input class="form-control" id="coryright" name="coryright" type="text" value="<?php echo $config['coryright'];?>">
                                        </div>
                                        <label class="control-label col-lg-4 color-red t-left">底部版权，前台调用：echo $config['coryright'];</label>
                                    </div>

                                    <div class="form-group">
                                        <label for="description" class="control-label col-lg-2">网站描述</label>
                                        <div class="col-lg-3">
                                            <textarea class="form-control h-120" id="description" name="description"><?php echo $config['description'];?></textarea>
                                        </div>
                                        <label class="control-label col-lg-4 color-red t-left">网站描述，前台调用：echo $config['description'];</label>
                                    </div>

                                    <div class="form-group">
                                        <label for="is_open" class="control-label col-lg-2">关闭系统</label>
                                        <div class="m-bot15">
                                            <div class="col-lg-3">
                                                <input class="form-control" id="is_open" name="is_open" type="checkbox" data-toggle="switch" <?php if($config['is_open']==1) echo 'checked="checked"';?>>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="reason" class="control-label col-lg-2">关闭原因</label>
                                        <div class="col-lg-3">
                                            <textarea class="form-control h-120" id="reason" name="reason"><?php echo $config['reason'];?></textarea>
                                        </div>
                                        <label class="control-label col-lg-4 color-red t-left">关闭原因，前台调用：echo $config['reason'];</label>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button class="btn btn-primary" type="submit">保存</button>
                                            <button class="btn btn-default" type="reset">重置</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- END ROW  -->
        </section>
        <!-- END WRAPPER  -->
    </section>
    <!-- END MAIN CONTENT -->
    <!-- BEGIN FOOTER -->
    <?php $this->load->view('Public/footer.html');?>
    <!-- END FOOTER -->
</section>
<!-- END SECTION -->
<!-- BEGIN JS -->
<?php $this->load->view('Public/footjs.html');?>
<script src="<?php echo base_url('Public/Wei/js/weiadmin/setting.js');?>"></script>
<!-- Weiadmin SETTING JS -->
<!-- END JS -->
</body>

</html>